@import url(https://fonts.googleapis.com/css?family=Inconsolata);
h2 {
    vertical-align: center;
    text-align: center;
}

* {
    font-family: "Inconsolata", Arial, Helvetica, sans-serifm;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
}
table {
    border-collapse: collapse;
}
/* table zebra striping */
tr:nth-child(even) {
    background-color: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}
td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
tr.gprivate td {
    font-style: italic;
}
tr.gdeleted td {
    text-decoration: line-through;
}
tr.gpublic td {
    font-weight: bold;
}

/* more padding for 'menu' links' */
.welcome-center a span {
    padding: 4px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px) /*,
    (min-device-width: 768px) and (max-device-width: 1024px) */ {
    /* Force table to not be like tables anymore */
    table#readinglist,
    table#readinglist thead,
    ttable#readinglist body,
    table#readinglist th,
    table#readinglist td,
    table#readinglist tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    table#readinglist thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    table#readinglist td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
        min-width: 500px;
    }
    table#readinglist td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 35%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Label the data */
    /*td:nth-of-type(1):before { content: "#";}*/
    /*table#readinglist td:nth-of-type(1) { display: none }*/
    table#readinglist td:nth-of-type(1):before {
        content: "Reader";
    }
    table#readinglist td:nth-of-type(2):before {
        content: "Author";
    }
    table#readinglist td:nth-of-type(3):before {
        content: "Title";
    }
    table#readinglist td:nth-of-type(4) {
        display: none;
    }
    table#readinglist td:nth-of-type(5):before {
        content: "Day";
    }
    table#readinglist td:nth-of-type(6):before {
        content: "Duration";
    }
    /* table#readinglisttd:nth-of-type(7):before { content: "Added on"; }*/
    table#readinglist td:nth-of-type(7) {
        display: none;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 8%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
    max-width: 90%;
}

.modal-content label,
form label {
    width: 90px;
    display: inline-block;
}

/* The Close Button */
.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message {
    background-color: pink;
}

#stats {
    /*display:  none;*/
}
/* ------------------- */

div.note {
    background-color: aliceblue;
    margin: 20px;
    padding: 10px;
}

div#content {
    margin: 20px;
}

.sub-nav {
    margin-bottom: 10px;
    margin-left: 20px;
}

div#logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #333;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ff000075; /* #00baf0; */
    /* background: linear-gradient(to left, #f46b45, #eea849); */
    color: #fff;
    height: 50px;
    padding: 1em;
    z-index: 1;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 760px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em 1em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li a {
        display: block;
    }

    .menu > li {
        display: flex;
        justify-content: right;
        margin: 0;
        padding: 0.5em 1em;
        width: 100%;
        /*color: white;*/
        background-color: #222;
    }
    .menu > li > a {
        display: none;
        color: #fff;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
/* ------------------- */
