<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">

        <title>About - Read to Succeed</title>
    </head>
  <body>
    <div class="welcome-center">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <h1>About this site</h1>
    </div>

    <div>
    This is a space where you can log your or your children's books and how much time was spent reading.
    </div>
  </body>
</html>
