<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">

        <title>About - Read to Succeed</title>
    </head>
  <body>
    {{ block "menu_outside" .}}{{end}}
    <h1>About this site</h1>

    <div id="content">
      This is a space where you can log your or your children's books and how much time was spent reading.
      <h3>How does this thing work?</h3>
      <p>
        <ul>
          <li> parent creates an account</li>
          <li> parent adds their child/ren and themselves as readers</li>
          <li> parent adds readers to a group</li>
          <li> the students (or their parents) log what they read (and for how long, # of pages)</li>
          <li> view what was read</li>
          <li> view some other group stats</li>
        </ul>
      </p>
    </div>
  </body>
</html>
