<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Forgot Password - Read to Succeed</title>
    </head>
  <body>
    {{ block "menu_outside" .}}{{end}}

    <h1>Forgot Password</h1>
    <div id="content">

        {{if .Message}}
        <div class="note">{{.Message}}</div>
        {{end}}

        <form method="POST" action="/forgot-password">
            {{ .csrfField }}
            <div>
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label></label>
                <button>Send reset link</button>
            </div>
        </form>
        <div><a href="/login">Back to login</a></div>
    </div>
  </body>
</html>
