<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Groups Reading Log - Read to Succeed</title>
    </head>
  <body>
    {{ block "menu_burger" .}}{{end}}

    <h1>Members of "{{ .Group.Name}}"</h1>

    <div style="overflow-x:auto;" id="content">
      <table>
        <thead>
        <tr>
          <th>Reader</th>
          <th>Joined on</th>
        </tr>
        </thead>
        <tbody>
      {{ range .GroupReaders}}
      <tr>
          <td>{{.Name}}</td>
          <td>{{.CreatedOn}}</td>
      </tr>
      {{ end }}
      <tbody>
      </table>
    </div>
  
  </body>
</html>
