<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Groups Reading Log - Read to Succeed</title>
    </head>
  <body>
    {{ block "menu_burger" .}}{{end}}

    <h1>Groups Reading Log</h1>
<div style="overflow-x:auto;">
  <table>
    <thead>
    <tr>
      <th>Group</th>
      <th>Reader</th>
      <th>Author</th>
      <th>Title</th>
      <th>Day</th>
      <th>Duration</th>
      <th>Added on</th>
    </tr>
    </thead>
    <tbody>
  {{ range .Readings}}
  <tr>
      <td><a href="/groupreadings?group={{.GroupID}}">{{.GroupName}}</a></td>
      <td>{{.ReaderName}}</td>
      <td>{{.BookAuthor}}</td>
      <td>{{.BookTitle}}</td>
      <td>{{dayToDate .Day}}</td>
      <td>{{.Duration}}m</td>
      <td>{{dateISOish .CreatedOn}}</td>
  </tr>
  {{ end }}
  <tbody>
  </table>
</div>

  </body>
</html>
