<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Reading Log - Read to Succeed</title>
    </head>
  <body>
    <div class="welcome-center">
      <select id="readers">
  {{- $cr := .CurrentReader -}}
      <option value="">-= pick a reader =-</option>
  {{ range .Readers -}}
      <option value="{{.Name}}" {{if eq .Name $cr}}selected{{end}}>{{.ID}}.{{.Name}}</option>
  {{ end }}
      </select>
      <a href="#" id="addentry" title="add reading"><span class="material-icons">add_circle</span></a>
      <a href="#" id="togglestats" title="stats"><span class="material-icons">show_chart</span></a>
      <a href="/settings" title="settings"><span class="material-icons">manage_accounts</span></a>
      <a href="/logout"><span class="material-icons">exit_to_app</span></a>
    </div>

    <div id="stats" hidden>
    Totals:
      <ul>
      {{ range .Stats -}}
        <li><label>{{ .ReaderName }}</label> {{ .TotalDuration }}</li>
      {{ end }}
      </ul>
      <div><a href="/dailystats">View last 30 days</a></div>
    </div>

<div style="overflow-x:auto;">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Reader</th>
      <th>Author</th>
      <th>Title</th>
      <th>Day</th>
      <th>Duration</th>
      <th>Added on</th>
    </tr>
    </thead>
    <tbody>
  {{ range .Readings}}
  <tr>
      <td>{{.ID}}</td>
      <td>{{.ReaderName}}</td>
      <td>{{.BookAuthor}}</td>
      <td>{{.BookTitle}}</td>
      <td>{{dayToDate .Day}}</td>
      <td>{{.Duration}}m</td>
      <td>{{dateISOish .CreatedOn}}</td>
  </tr>
  {{ end }}
  <tbody>
  </table>
</div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add new reading</h3>
        <form id="addreading">
          <div>
            <label>Reader</label>
            <!--<input type="text" name="reader" readonly required>-->
            <select name="reader" required>
              <option value="">-= pick a reader =-</option>
              {{ range .Readers}}
              <option value="{{.Name}}">{{.Name}}</option>
              {{ end}}
            </select>
          </div>
          <div>
            <label>Book Author</label>
            <input type="text" name="author" required>
          </div>
          <div>
            <label>Book Title</label>
            <input type="text" name="title" required>
          </div>
          <div>
            <label>Date</label>
            <input type="date" name="day" required value="{{.Today}}">
          </div>
          <div>
            <label>Duration</label>
            <input type="number" min="1" max="60" name="duration" required>
          </div>
          <div>
            <label></label>
            <button>submit</button>
          </div>
        </form>
      </div>

    </div>

  <script type="text/javascript" src="/static/scripts.js"></script>
  </body>
</html>
