<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Enqueue</title>
    </head>
  <body>

    <div>
      <div class="">
        <input type="text" name="" id="query" placeholder="enter link to mirror">
        <input type="text" name="" id="pass" placeholder="password required?" style="display:none;">
        <button id="action">go</button>
      </div>
      <div id="message"></div>
    </div>

    <script type="text/javascript">
    window.addEventListener('load', function() {
        let q = document.querySelector("#query"),
            p = document.querySelector("#pass");

        q.addEventListener('input', function(e) {
            if (/vimeo\.com/i.test(q.value)) {
                p.style.display = '';
            }
            else {
                p.style.display = 'none';
            }
        });

        function enqueue(ev) {
            let qv = q.value.replace(/^\s+|\s+$/g, ''),
                pv = p.value;

            console.log("go, go, go: " + qv);
            if (qv === "")
                return;
            fetch('/queue', {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                },
                //body: formData
                body: "q=" + encodeURIComponent(qv) + "&p=" + encodeURIComponent(pv)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Success:', result);
                let m = document.querySelector("#message");
                if (result && result.status === 'ok') {
                    m.innerHTML = "<small><em>ok</em></small>";
                    setTimeout(function() {
                            m.innerHTML = "";
                            q.value = "";
                            p.value= "";
                            p.style.display = "none";
                        },
                        3000
                    );
                }
                else {
                    m.innerHTML = "<small style=\"color: red\"><em>" 
                        + result.message
                        + "</em></small>";
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        document.querySelector('button#action').addEventListener('click', enqueue);
    });
    </script>
  </body>
</html>
