<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Reset Password - Read to Succeed</title>
    </head>
  <body>
    {{ block "menu_outside" .}}{{end}}

    <h1>Reset Password</h1>
    <div id="content">

        {{if .Error}}
        <div class="message">{{.Error}}</div>
        {{else}}
        <form method="POST" action="/reset-password?token={{.Token}}">
            {{ .csrfField }}
            <div>
                <label>New Password</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <label></label>
                <button>Set new password</button>
            </div>
        </form>
        {{end}}
        <div><a href="/login">Back to login</a></div>
    </div>
  </body>
</html>
