<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Settings - Read to Succeed</title>
    </head>
  <body>
    {{ block "menu_burger" .}}{{end}}

    <h1>Settings</h1>

  <div class="sub-nav">
    <a href="#" id="newreader" title="Add reader">add reader</a>
    {{ if .CurrentUser.IsAdmin }}
    <a href="#" id="newgroup" title="Add group">add group</a>
    {{ end }}
  </div>

<div style="float: left; margin: 0 10px;">
{{if .HasNoReaders}}
    <div class="note">
      Please click on "add reader" to add readers. Then go to the <a href="/">main page</a> to record your/their readings.
    </div>
{{else}}

  <table id="readerstable">
    <thead>
    <tr>
      <th>Reader Name</th>
    </tr>
    </thead>
    <tbody>
  {{ range .Readers}}
  <tr>
      <td data__reader_id="{{.ID}}">{{.Name}}</td>
  </tr>
  {{ end }}
  <tbody>
  </table>
</div>

<div style="float: left; margin: 0 10px;">
  <table>
    <thead>
    <tr>
      <th>Group Name</th>
      <th>Readers</th>
    </tr>
    </thead>
    <tbody id="tgroupreaders">
    <tr>
      <td colspan="2"><a href="#" id="joinagroup">join a new group</a></td>
    </tr>
  {{ range $key, $value := .GroupReaders}}
  <tr>
      <td>{{$key}}</td>
      <td><ul>
      {{range $value }}
        <li>{{.Name}} <a href="#" gid="{{.GroupID}}" rid="{{.ID}}">x</a></li>
      {{end}}
      </ul></td>
  </tr>
  {{ end }}
  <tbody>
  </table>
</div>
{{end}}

{{ if .CurrentUser.IsAdmin }}
    <div style="float: left; margin: 0 10px;">
      <table id="usergroups">
        <thead>
        <tr>
          <th>#</th>
          <th>Group Name</th>
          <th>Access Code</th>
          <th>Public?</th>
        </tr>
        </thead>
        <tbody>
        {{ range .UserGroups}}
          <tr class="g{{.Status}}">
            <td>{{.ID}}</td>
            <td><a href="/groupreaders/{{.ID}}">{{.Name}}</a></td>
            <td>{{.AccessCode}}</td>
            <td>{{if eq .Status "public" -}}
                <input type="checkbox" value="{{.ID}}" checked>
                {{else if eq .Status "private"}}
                <input type="checkbox" value="{{.ID}}">
                {{end}}
            </td>
          </tr>
        {{ end }}
        <tbody>
      </table>
    </div>
{{ end }}

    <!-- The Reader Modal -->
    <div id="readerModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add new reader</h3>
        <form id="addreader">
          <div>
            <label>Reader Name</label>
            <input type="text" name="name" required>
          </div>
          <div>
            <label></label>
            <button>add</button>
          </div>
        </form>
      </div>
    </div>

    <!-- The Group Modal -->
    <div id="groupModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add new group</h3>
        <form id="addgroup">
          <div>
            <label>Group Name</label>
            <input type="text" name="name" required>
          </div>
          <div>
            <label></label>
            <button>add</button>
          </div>
        </form>
      </div>
    </div>

    <!-- The Join Group Modal -->
    <div id="joinGroupModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Join a group</h3>
        <form id="findgroups">
        <div>
            <label style="display:block; width:100%;">Choose a reader</label>
            <select name="groupreader" required>
            <option value="">-= choose a reader =-</option>
            </select>
        </div>
          <div id="group-search-options">
            <label style="display:block; width:100%;">Search by name or code</label>
            <input type="text" name="name" required>
            <button>search</button>
          </div>
          <div id="grouplist"></div>
        </form>
      </div>
    </div>

  <script type="text/javascript" src="/static/settings.js"></script>
  </body>
</html>
